@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.full-no-navbar {
  @apply h-[calc(100vh-4rem)] lg:h-[calc(100vh-3.7rem)];
}

.min-full-no-navbar {
  @apply min-h-[calc(100vh-4rem)] lg:min-h-[calc(100vh-3.7em)];
}

.active {
  @apply text-primary;
}
